<!--The content below is only a placeholder and can be replaced.-->
<app-header [money]="business.money" [location]="getCurrentLocation()"></app-header>
<div class="page-wrapper" *ngIf="!isLocation()">
    <app-home [totalMoney]="business.money" (chooseLocation)="setCurrentLocation($event)" (named)="setBusinessName($event)"></app-home>
</div>
<div class="page-wrapper" *ngIf="isLocation()">
    <app-locations (addMoney)="addMoney($event)" [money]="business.money" [location]="getCurrentLocation()"></app-locations>
</div>

<app-footer [name]="business.name"></app-footer>
